<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="nav">
  <div class="nav-wrap">
    <img id="logo" src="assets/AniPointLogoTransparent.png" alt="AP">
    <label for="meetingTitle" style="padding: 5px;">Meeting Title:</label>
    <input class="form-control" id="meetingTitle" type="text" [(ngModel)]="ballot.title" placeholder="Theme Night" style="max-width:200px">
    <label for="meetingNumber" style="padding: 5px;">Meeting Number:  </label>
    <input class="form-control" id="meetingNumber" type="number" [(ngModel)]="ballot.number" style="max-width:70px">
    <label for="meetingDate" style="padding: 5px;">Date:  </label>
    <input class="form-control" id="meetingDate" type="date" [(ngModel)]="ballot.date" style="max-width:150px">
    <div style="width:20%"></div>
    <button id="addShowButton" type="button" class="btn btn-primary" style="margin-right: 10px" (click)="openModal(addShowTemplate, {background: true, size: 'lg'})">
      <i class="fa-solid fa-plus"></i>
      Add Show
    </button>
    <button id="importButton" type="button" class="btn btn-primary" style="margin-right: 10px" (click)="openModal(importTemplate, {background: true, size: 'md'})">
      <i class="fa-solid fa-upload"></i>
      Import
    </button>
    <button id="exportButton" type="button" class="btn btn-success" (click)="openModal(progressModal, { background: 'static', size: 'md' })">
      <i class="fa-solid fa-download"></i>
      Export
    </button>
  </div>
</div>

<div class="page">
  <div id="noShows" *ngIf="!ballot.shows.length">
    <h4>Looks like there's nothing here yet. Click Add Show to get started.</h4>
  </div>
  <div class="shows">
    <div class="show-container" *ngFor="let show of ballot.shows" style="background-image:url({{show.coverImage}})">
      <div class="show-data-container">
        <div class="show-background"></div>
        <i class="fa-solid fa-triangle-exclamation warnings-icon" *ngIf="getWarnings(show).length"></i>
        <i class="fa-solid fa-trash-can delete-icon" ngbTooltip="Delete Show" (click)="openModal(confirmDelete)"></i>
        <div class="show-data">
          <div class="show-title-container">
            <p class="show-title" >
                <b>{{show.titles.english ?? show.titles.romaji}}</b>
            </p>
          </div>
          <div class="episode-container">
            <label for="episode" style="padding-right:5px">Episode: </label>
            <input id="episode" type="text" [(ngModel)]="show.episode" style="width:100px">
          </div>
          <table class="sub-dub-table">
            <thead>
              <th>Subbed</th>
              <th>Dubbed</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" [(ngModel)]="show.subbed">
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="show.dubbed">
                </td>
              </tr>
            </tbody>
          </table>
          <table class="gif-container">
            <thead>
              <th>
                Set GIF:
                <i class="fa-solid fa-circle-question" ngbTooltip="Due to technical limitations, you cannot upload GIFs directly. Instead, paste a direct link to the image below."></i>
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input id="gif" class="form-control" type="text" placeholder="https://i.imgur.com/Aa2xtP7.gif" [(ngModel)]="show.gifPath" style="width:250px">
                </td>
              </tr>
            </tbody>
          </table>
          <img [id]="'gif'.concat(show.id.toString())" style="visibility:hidden" [src]="show.gifPath">
          <div class="warnings-container" *ngIf="getWarnings(show).length">
            <p><i class="fa-solid fa-triangle-exclamation" style="color: #ff4;"></i><b>Warnings:</b></p>
            <p *ngFor="let warning of getWarnings(show)">{{warning}}</p>
          </div>
          <div class="show-link">
            <a href="{{show.siteUrl}}" target="_blank">View on AniList <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </div>
          
          <ng-template #confirmDelete>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Show?</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                Are you sure you want to delete {{show.titles.english ?? show.titles.romaji}}?
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="removeShow(show.id)">Delete</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addShowTemplate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Show</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="search-container">
      <input class="form-control mb-3" type="search" placeholder="Search..." (keyup)="searchTimeout($event)" autofocus>
      <table class="search-results">
        <tr *ngFor="let result of searchResult">
          <td>
            <img class="cover-image" src="{{result.coverImage.large}}">
          </td>
          <td>
            <a href="{{result.siteUrl}}" target="_blank">
              {{result.title.english ?? result.title.romaji}}
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </td>
          <td>{{result.seasonYear}}</td>
          <td style="width:101px">
            <button class="btn btn-primary" [disabled]="isDuplicateShow(result.id)" (click)="addShow(result.id)">{{isDuplicateShow(result.id) ? 'Added' : 'Add Show'}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #progressModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export Presentation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend" style="width:100%">
        <span class="input-group-text text-center" id="basic-addon1">Ballot Import Code:</span>
        <textarea type="text" id="importCode" class="form-control" readonly="true" onclick="this.select()" [(ngModel)]="importCode"></textarea>
      </div>
    </div>
    <p class="text-center">This code is used to import the ballot in case you need to made edits later. You can also find it in the speaker notes on the first slide of the presentation.</p>
  </div>
  <div class="modal-footer">
    <button id="exportButton" type="button" class="btn btn-success" (click)="export()" *ngIf="!isExporting">
      <i class="fa-solid fa-download"></i>
      Export
    </button>
    <ngb-progressbar type="success" [value]="100" [animated]="true" [striped]="true" style="width:100%" *ngIf="isExporting">Exporting...</ngb-progressbar>
  </div>
</ng-template>

<ng-template #importTemplate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import Ballot</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <p>Paste your import code here to import a ballot automatically. You can find the import code in the export menu or on in the speaker notes on the first slide of an exported presentation.</p>
    <p class="text-center">
      <b>
        <i class="fa-solid fa-triangle-exclamation"></i>
        WARNING: This will overwrite your current ballot!
        <i class="fa-solid fa-triangle-exclamation"></i>
      </b>
    </p>
    <input type="text" class="form-control" [(ngModel)]="toImport">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="importBallot()">Import</button>
  </div>
</ng-template>